<div class="background-image"></div>  <!--este div va vacio porque aqui se coloca la imagen de fondo en los estilos-->
<div class="container-login">

    <form class="form-login" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" formControlName="email">
            @if(formLogin.get("email")?.invalid && formLogin.get("email")?.touched){
                @if(formLogin.get("email")?.errors?.['required']){
                <small>El campo email es obligatorio.</small>
                }
                @else if(formLogin.get("email")?.errors?.['minlength']){
                <small>El campo email tiene que tener al menos 4 caracteres.</small>
                }
                @else if(formLogin.get("email")?.errors?.['email']){
                    <small>El campo debe tener formato email.</small>
                    }
            }
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" formControlName="password">
            @if(formLogin.get("password")?.invalid && formLogin.get("password")?.touched){
                @if(formLogin.get("password")?.errors?.['required']){
                <small>El campo password es obligatorio.</small>
                }
                @else if(formLogin.get("password")?.errors?.['minlength']){
                <small>El campo password tiene que tener al menos 4 caracteres.</small>
                }
            }
        </div>

        <div>
            <button id="button-login" type="submit" [disabled]="formLogin.invalid">Enviar</button>
            
        </div>
        
        <small class="notRegister" [routerLink]="['/register']">Regístrate</small>
        <small class="forgetPass">¿Olvidaste la contraseña?</small>

    </form>





</div>