<div class="default-component">

    <section class="left-section">

        <div class="welcomeUser">
            bienvenida
        </div>

        <div class="calendar">
            calendario
        </div>

        <div class="newSpaces">
            crear espacio
        </div>

    </section>

    <section class="center-section">
        <div class="usualSpaces">
            espacios usados
        </div>

        <div class="notification">
            notificaciones
        </div>


    </section>

    <section class="right-section">

        <div lastActions>
            ultimas acciones
        </div>

    </section>











</div>