<div class="default-component">

    <section class="left-column">

        <div class="welcomeUser">
            <h2 class="welcomeText">¡Bienvenido, Jose!</h2>
            <p>Selecciona o crea una sala para poder comunicarte y participar con tus compañeros.</p>
        </div>

        <div class="newSpaces">
            <i class="fa-solid fa-plus" style="color: #72dfbe;"></i> Pulsa para crear un nuevo espacio...
        </div>

       <div class="userSpaces">
           <p>Selecciona espacio de trabajo para entrar</p>  <br>
            ... <br>
            ... <br>
            ... <br>
            ... <br>
        </div>

        <div class="calendar">
            <app-calendar></app-calendar>
            
        </div>

    </section>




    <section class="right-column">
        
         <div class="contactsOnline">
            <p>Contactos en linea</p> 
            ... <br>
            ... <br>
            ... <br>
            ... <br>
        </div>

        <div class="toDo">
            <p>Tareas</p>
            ... <br>
            ... <br>
            ... <br>
            ... <br>
        </div>
        

        <div class="comments">
            comentarios
        </div>

    </section>

     

   











</div>