<div class="formUser-container">
    <form class="formUser-container" [formGroup]= "formUser" (ngSubmit)="onSubmit()">

        <div>
            <label for="user-name">Nombre de usuario</label>
            <input type="text" name="userName">
        </div>

        <div>
            <label for="user-email">Email</label>
            <input type="email" name="userEmail">
        </div>

        <div>
            <label for="user-name">Password</label>
            <input type="password" name="userPassword">
        </div>

        <button type="submit">Dar de alta</button>


    </form>








</div>
