<div class="formUser-container">
    <form [formGroup]= "formUser" (ngSubmit)="onSubmit()">
<!-- -->
        <div>
            <label for="nameUser">Nombre de usuario</label>
            <input type="text" name="nameUser" formControlName="nameUser">
            @if(formUser.get("nameUser")?.invalid && formUser.get("nameUser")?.touched){
                @if(formUser.get("nameUser")?.errors?.['required']){
                    <small>El nombre de usuario es obligatorio.</small>
                }
                @else if (formUser.get("nameUser")?.errors?.['minLength']) {
                    <small>El nombre de usuario debe tener mínimo 4 caracteres.</small>
                }
                
            }
        </div>

        <div>
            <label for="emailUser">Email</label>
            <input type="email" name="emailUser" formControlName="emailUser">
            @if(formUser.get("emailUser")?.invalid && formUser.get("emailUser")?.touched){
                @if(formUser.get("emailUser")?.errors?.['required']){
                    <small>El email es obligatorio.</small>
                }
                @else if (formUser.get("emailUser")?.errors?.['email']) {
                    <small>El campo debe tener formato email.</small>
                }
                
            }
        </div>

        <div>
            <label for="passwordUser">Password</label>
            <input type="password" name="passwordUser" formControlName="passwordUser">
            @if(formUser.get("passwordUser")?.invalid && formUser.get("passwordUser")?.touched){
                @if(formUser.get("passwordUser")?.errors?.['required']){
                    <small>La contraseña es obligatoria.</small>
                }
                @else if (formUser.get("passwordUser")?.errors?.['minLength']) {
                    <small>El campo debe tener al menos 4 caracteres.</small>

                }
            }
        </div>

        <div>
            <button type="submit" [disabled]="formUser.invalid" >Dar de alta</button>
        </div>


    </form>








</div>
