.principal-container{
    display: grid;
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 15% 1fr 15%;
    grid-template-areas: 
    "header header header"
    "asideLeft main asideRight"
    "footer footer footer" ;
    height: 100vh;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    
    
}

.principal-header{
    grid-area: header;
    background-color: #9cb3dd;
    display: flex;
    justify-content: space-between;
    border-color: #ffffff30;
    border-width:  1px;
    border-style: solid;

}

.principal-main{

    grid-area: main;
    background-color: #f4f5f7;
    padding: 15px;
   
}

.principal-asideLeft{
     grid-area: asideLeft;
    background-color:#9cb3dd ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal-footer{
    grid-area: footer;
    background-color: #9cb3dd;
    display: flex;
    justify-content: space-between;
    border-color: #ffffff30;
    border-width:  1px;
    border-style: solid;
}
 .principal-asideRight{
    grid-area: asideRight;
    background-color:#9cb3dd ;
 }
    

/*  .nav-asideLeft{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    outline: 0;
 } */

 /* a dentro del nav*/
 
/*  .nav-asideLeft a{
    text-decoration: none;
 }
 .nav-asideLeft li{
    list-style-type: none;
 } */