<div class="principal-container">

    <header class="principal-header">

        superior
    </header>

    <aside class="principal-asideLeft">

        <app-profile></app-profile>

        <nav class="nav-asideLeft">

            <app-nav-spaces></app-nav-spaces>
            <app-nav-comunication></app-nav-comunication>
            <app-nav-files></app-nav-files>
            <app-nav-comunication></app-nav-comunication>




        </nav>



    </aside>

    <main class="principal-main">
        <!--   aqui debe ir el router-outlet  -->
        central
    </main>

    <footer class="principal-footer">
        footer

    </footer>

    <aside class="principal-asideRight">
        lateral derecho

    </aside>






</div>