
.principal-container{
    display: grid;
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 15% 1fr 15%;
    grid-template-areas: 
    "header header header"
    "asideLeft main asideRight"
    "footer footer footer" ;
    height: 100vh;
    /* overflow: hidden; */
    width: 80%;
    margin: 0 auto;
    
    
}

.principal-header{
    grid-area: header;
    background-color: #102c4b;
    display: flex;
    justify-content: space-between;
    border-color: #ffffff30;
    border-width:  1px;
    border-style: solid;

}

.principal-main{

    grid-area: main;
    background-color: #e9ecef;
    padding: 15px;
    margin: 0;
    padding: 0;
   
}

.principal-asideLeft{
    position: relative;
    z-index: 1;
    grid-area: asideLeft;
    background-color:#f8f9fa ;
    display: flex;
    flex-direction: column;
   
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.3);
}

.principal-footer{
    grid-area: footer;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    border-color: #ffffff30;
    border-width:  1px;
    border-style: solid;
    z-index: 1;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    
    
    
}
 .principal-asideRight{
    grid-area: asideRight;
    background-color:#f8f9fa ;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.3);
 }
    

/* estilos sobre los componentes */
.app-profile{
    /* margin: 50px 0;  */
}

.linkNav{
    display: block;
    margin: 10px;
    text-decoration: none;
    color: blueviolet;
}

