<div class="principal-container">

    <header class="principal-header">

        superior
    </header>

    <aside class="principal-asideLeft">

        <app-profile></app-profile>

        <nav class="nav-asideLeft">

            <app-nav-spaces></app-nav-spaces>

            <section class="section-comunication">
                <h2>Comunicación</h2>
                <ul>
                    <li><a href="">enlace 1</a></li>
                    <li><a href="">enlace 2</a></li>
                    <li><a href="">enlace 3</a></li>
                </ul>
            </section>

            <section class="section-files">
                <h2>Archivos</h2>
                <ul>
                    <li><a href="">enlace 1</a></li>
                    <li><a href="">enlace 2</a></li>
                </ul>
            </section>

            <section class="section-configuration">
                <h2>Ajustes</h2>
                <ul>
                    <li><a href="">enlace 1</a></li>
                    <li><a href="">enlace 2</a></li>
                    <li><a href="">enlace 3</a></li>
                </ul>
            </section>

        </nav>



    </aside>

    <main class="principal-main">
        <!--   aqui debe ir el router-outlet  -->
        central
    </main>

    <footer class="principal-footer">
        footer

    </footer>

    <aside class="principal-asideRight">
        lateral derecho

    </aside>






</div>