:host{
    margin-top: 10px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;   /* evita que se deforme la imagen */
    
    
}


    