.home-container{
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 15% 1fr 15%;
    grid-template-areas: 
    "header header header"
    "asideLeft main asideRight"
    "footer footer footer" ;
    height: 100vh;
    overflow: hidden;
    
}

.home-header{
    grid-area: header;
    background-color: #73819b;
    display: flex;
    justify-content: space-between;
}

.home-main{

    grid-area: main;
    background-color: #f4f5f7;
    padding: 15px;
   
}

.home-asideLeft{
     grid-area: asideLeft;
    background-color:#73819b ;
    border-top-color: #ffffff30;
    border-top-width: 1px;
    border-top-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-footer{
    grid-area: footer;
    background-color: #73819b;
    display: flex;
    justify-content: space-between;
}
 .home-asideRight{
    grid-area: asideRight;
    background-color:#73819b ;
    border-top-color: #ffffff30;
    border-top-width: 1px;
    border-top-style: solid;
 }

 .nav-asideLeft{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;


 }
