<div class="home-container">

    <header class="home-header">

        superior
    </header>

    <aside class="home-asideLeft">

        <nav class="nav-asideLeft">
            <section class="section-spaces">Espacios</section>
            <section class="section-comunication">Comunicación</section>
            <section class="section-files">Archivos</section>
            <section class="section-configuration">Ajustes</section>
        </nav>



    </aside>

    <main class="home-main">

        central
    </main>

    <footer class="home-footer">
        footer

    </footer>

    <aside class="home-asideRight">
        lateral derecho

    </aside>






</div>